// ---------------------------------------------------------- mixins ------------------------
// ========================================================== / mixins ======================
// ---------------------------------------------------------- variables =====================
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1999px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables ===================
// ---------------------------------------------------------- commons -----------------------
.body {
    font-family: 'Ubuntu', sans-serif;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
}

.main_btn {
    display: inline-block;
    position: relative;
    padding: 11px 60px 11px 24px;
    background: #E52D27 url(../assets/svg/carbon_arrow-right.svg) no-repeat 92% 50%;
    font-size: 18px;
    min-width: 221px;
    line-height: 26px;
    color: #fff;
    margin-top: 46px;
    top: -7px;
    transition: .3s;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 7px;
        left: 10px;
        border: 3px solid #E52D27;
        transition: .3s;
    }
    &:hover {
        background-position: 85% 50%;
        &::after {
            transform: translate(-20px, -14px);
        }
    }
}

.section_title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.section_description {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: $screen_md_max) {
    .section_title {
        font-size: 36px;
    }
}

// ========================================================== / commons =====================
// ---------------------------------------------------------- section_intro -----------------
.section_intro {
    background: url(../assets/banner.jpg) no-repeat 0 100%;
    background-size: cover;
    height: 100vh;
    padding-top: 0;
    header {
        padding-top: 32px;
        .menu {
            margin: 0;
            list-style: none;
        }
        .item_link {
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }
    }
    .intro_content {
        margin-top: 25vh;
        .intro_title {
            font-weight: bold;
            font-size: 45px;
            line-height: 64px;
            color: #E52D27;
        }
        .intro_subtitle {
            font-size: 20px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.9);
            margin-top: 22px;
        }
        .banner_front_photo {
            width: 222px;
            height: 197px;
            border: 6px solid #FFFFFF;
            background: url(../assets/banner_front_photo.jpg) no-repeat 0 0;
            background-size: cover;
        }
        .scroll_arrow_img {
            position: relative;
            top: -100px;
            left: 70px;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            color: #FFFFFF;
            transform: rotate(90deg);
        }
    }
    @media (max-width: $screen_lg_max) {
        background-position: 73% 100%;
        .intro_content {
            margin-top: 51vh;
        }
    }
}

// ========================================================== / section_intro ===============
// ---------------------------------------------------------- section_preview ---------------
.section_preview {
    background: rgba(179, 18, 23, 0.8);
    padding-top: 71px;
    padding-bottom: 81px;
    .section_title {
        margin-bottom: 20px;
    }
}

// ========================================================== / section_preview =============
// ---------------------------------------------------------- section_advantages ------------
.section_advantages {
    background: #121212;
    padding-bottom: 100px;
    padding-top: 85px;
    .section_title {
        margin-bottom: 79px;
    }
    .advantages_item {
        //        @include Ubuntu_font();
        color: #FFFFFF;
        &__icon {
            height: 54px;
            margin-bottom: 24px;
            display: flex;
            align-items: center;
        }
        &__title {
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 17px;
            line-height: 30px;
        }
        &__description {
            font-size: 18px;
            line-height: 30px;
        }
    }
    @media (max-width: $screen_md_max) {
        padding-bottom: 20px;
        padding-top: 50px;
        .section_title {
            margin-bottom: 50px;
        }
        .advantages_item {
            margin-bottom: 50px;
        }
    }
}

// ========================================================== / section_advantages ==========
// ---------------------------------------------------------- section_contacts --------------
.section_contacts {
    background: #820D11;
    padding: 50px 0 57px;
    .section_title {
        text-align: start;
        font-weight: 900;
        line-height: 45px;
        color: #EED0AC;
    }
    .contacts_text {
        //        @include Ubuntu_font();
        font-size: 18px;
        line-height: 27px;
        color: #EED0AC;
        padding: 0 15px;
    }
    .phone_list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 5px;
        }
    }
    .contacts_block {
        margin-top: 10px;
    }
    @media (min-width: $screen_lg) {
        .phone_list {
            height: 70px;
        }
    }
    @media (max-width: $screen_md_max) {
        .section_title {
            text-align: center;
        }
        .contacts_block {
            margin-top: 33px;
        }
        .contacts_icon {
            width: 30px;
            margin-bottom: 10px;
        }
        .phone_list li {
            margin-bottom: 10px;
        }
    }
}

// ========================================================== / section_contacts ============
// ---------------------------------------------------------- section_promo -----------------
.section_promo {
    .promo_photo_wrap {
        text-align: center;
        position: relative;
        // width: 440px;
        height: 629px;
        overflow: hidden;
        img {
            height: 100%;
            // z-index: 50px;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 75px;
            left: 0;
            width: 153px;
            height: 153px;
            background: #750C0F;
            border-radius: 50%;
            // z-index: 49;
        }
    }
    .promo_text_wrap {
        .section_title {
            text-align: start;
            color: #B31217;
            margin-bottom: 21px;
        }
        .section_description {
            text-align: start;
            color: #1D1D1D;
            margin-bottom: 54px;
        }
        .promo_text_title {
            color: #B31217;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
        }
        .promo_text_list {
            padding-left: 20px;
            li {
                color: #B31217;
                margin-bottom: 5px;
            }
            span {
                color: #1D1D1D;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    @media (min-width: $screen_lg) {
        padding: 100px 0;
        .promo_photo_wrap img {
            position: relative;
        }
        .promo_photo_wrap {
            width: 440px;
        }
    }
    @media (max-width: $screen_md_max) {
        .promo_photo_wrap {
            padding: 0;
            height: 100%;
            &::before {
                top: 10%;
                left: 10%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .promo_text_wrap {
            padding: 50px 30px;
        }
    }
}

// ========================================================== / section_promo ===============
// ---------------------------------------------------------- section_requirements ----------
.section_requirements {
    background: url(../assets/requirements.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &>div {
        padding: 80px 0;
    }
    @media (min-width: $screen_xl) {
        .section_title {
            font-size: 45px;
            line-height: 56px;
            text-align: start;
            position: relative;
            z-index: 50;
        }
        &::after {
            content: "";
            position: absolute;
            top: 15vh;
            right: -54px;
            border-radius: 50%;
            width: 154px;
            height: 154px;
            background: rgba(117, 12, 15, 0.35);
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            top: 3vh;
            left: 42vh;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            background: rgba(33, 33, 33, 0.62);
            z-index: 2;
        }
        .requirements_item__description {
            position: relative;
            font-size: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
            z-index: 50;
        }
        .requirements_item {
            color: #FFFFFF;
            position: relative;
            &::after {
                z-index: 3;
            }
            &::before {
                font-weight: bold;
                z-index: 50;
            }
        }
        .item1 {
            &::before {
                content: "1";
                font-size: 45px;
                position: absolute;
                top: -70px;
            }
            &::after {
                content: "";
                position: absolute;
                top: -90px;
                left: -42px;
                border-radius: 50%;
                width: 110px;
                height: 110px;
                background: rgba(33, 33, 33, 0.62);
            }
        }
        .item2 {
            &::before {
                content: "2";
                font-size: 83px;
                position: absolute;
                top: -112px;
            }
            &::after {
                content: "";
                position: absolute;
                top: -74px;
                left: -40px;
                border-radius: 50%;
                width: 154px;
                height: 154px;
                background: rgba(97, 15, 17, 0.38);
            }
        }
        .item3 {
            &::before {
                content: "3";
                font-size: 63px;
                position: absolute;
                top: -91px;
            }
            &::after {
                content: "";
                position: absolute;
                top: -90px;
                left: -38px;
                border-radius: 50%;
                width: 222px;
                height: 222px;
                background: rgba(33, 33, 33, 0.62);
            }
        }
        .item4 {
            &::before {
                content: "4";
                font-size: 122px;
                position: absolute;
                top: -158px;
                font-size: 122.885px;
            }
            &::after {
                content: "";
                position: absolute;
                top: -236px;
                left: -20px;
                border-radius: 50%;
                width: 269px;
                height: 269px;
                background: rgba(97, 15, 17, 0.38);
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        background-position: 70% 0;
        .section_title {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 50px;
        }
        .requirements_item {
            min-height: 250px;
            background: #FFFFFF;
            border: 3px solid #000000;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            padding: 40px;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
        .carousel-control-prev,
        .carousel-control-next {
            position: static;
            display: inline;
            width: 42px;
            opacity: 1;
        }
    }
}

// ========================================================== / section_intro ===============
// ---------------------------------------------------------- section_reviews ---------------
.section_reviews {
    padding: 84px 0;
    overflow: hidden;
    .section_title {
        color: #000;
        text-align: start;
        margin-bottom: 50px;
    }
    .reviews_item {
        background: #FFFFFF;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        padding: 30px 40px;
        height: 330px;
        &__description {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 34px;
        }
        .reviews_item_title {
            font-size: 25px;
            line-height: 38px;
        }
        .reviews_item_subtitle {
            font-size: 18px;
            line-height: 27px;
        }
        position: relative;
        .red_circle1,
        .red_circle2 {
            position: absolute;
            border-radius: 50%;
            background: rgba(179, 18, 23, 0.24);
            z-index: -1;
        }
        .red_circle1 {
            width: 286px;
            height: 286px;
            right: -241px;
            bottom: -126px;
        }
        .red_circle2 {
            width: 525px;
            height: 525px;
            right: -260px;
            bottom: 32px;
        }
    }
    @media (max-width: $screen_lg_max) {
        padding: 50px 0 30px;
        .reviews_item {
            margin-bottom: 30px;
            .red_circle1 {
                right: -24px;
                bottom: 147px;
            }
            .red_circle2 {
                right: 195px;
                bottom: -108px;
            }
        }
    }
}

// ========================================================== / section_reviews =============
// ---------------------------------------------------------- section_faq -------------------
.section_faq {
    padding: 92px 0 100px;
    background: linear-gradient(90deg, #152331 0%, #000000 100%);
    .section_title {
        margin-bottom: 72px;
    }
    .card {
        border-radius: 0;
        font-size: 20px;
        line-height: 30px;
        .btn {
            padding: 10px 20px;
            font-size: inherit;
            line-height: inherit;
            text-align: start;
            color: #B31217;
            i {
                transition: .3s;
                line-height: 30px;
                float: right;
            }
        }
        .collapsed {
            color: #000;
            i {
                transform: rotateX(-180deg);
            }
        }
        .card-body {
            padding-right: 100px;
        }
    }
    .card+.card {
        margin-top: 34px;
    }
    .faq_image_wrap {
        position: relative;
        min-height: 450px;
        img {
            position: relative;
            z-index: 1;
        }
        .figure_circle {
            position: absolute;
            border-radius: 50%;
        }
        .figure1 {
            width: 245px;
            height: 245px;
            left: 50%;
            top: 17%;
            margin-left: -122.5px;
            background: #750C0F;
        }
        .figure2 {
            width: 182px;
            height: 182px;
            left: 42%;
            top: 37%;
            background: #FFFFFF;
        }
    }
    @media (max-width: $screen_md_max) {
        padding-top: 60px;
        padding-bottom: 0;
    }
}

// ========================================================== / section_faq =================
// ---------------------------------------------------------- section_footer ----------------
.section_footer {
    background: linear-gradient(90deg, #181A1D 0%, #000000 100%);
    padding: 60px 0 70px;
    .section_title {
        color: #B31217;
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 35px;
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 26px;
        a {
            color: #fff;
            font-weight: 500;
        }
    }
}

// ========================================================== / section_footer ==============